.elementor-kit-21 {
  --e-global-color-primary: #48b825;
  --e-global-color-secondary: #e2b11e;
  --e-global-color-text: #110101;
  --e-global-color-accent: #ffffff;
  --e-global-color-3cb1d23: #222430;
  --e-global-color-c5c9b5c: #298f0a;
  --e-global-color-e2e9e28: #ecc31f;
  --e-global-typography-primary-font-family: "Stick";
  --e-global-typography-primary-font-weight: 600;
  --e-global-typography-primary-text-transform: uppercase;
  --e-global-typography-primary-letter-spacing: 1.6px;
  --e-global-typography-secondary-font-family: "Font Section 2";
  --e-global-typography-secondary-font-weight: 600;
  --e-global-typography-secondary-letter-spacing: 1.3px;
  --e-global-typography-text-font-family: "Font Section 3";
  --e-global-typography-text-font-weight: 500;
  --e-global-typography-accent-font-family: "Font Section 4";
  --e-global-typography-accent-font-weight: 500;
  --e-global-typography-237b9ba-font-family: "Font Family 5";
  --e-global-typography-61f2528-font-family: "Font Family 6";
  --e-global-typography-988ecca-font-family: "Font Family 7";
  --e-global-typography-f6246aa-font-family: "Font Family 8";
  --e-global-typography-8727f9f-font-family: "Font Family 9";
  --e-global-typography-21f6a27-font-family: "Font Family 10";
  --e-global-typography-fe5899a-font-family: "Font Family 11";
  color: #7a7a7a;
  font-family: "Heebo", Sans-serif;
  font-weight: 300;
}
.elementor-kit-21 a {
  color: #d1bc92;
}
.elementor-kit-21 a:hover {
  color: #d1bc92;
}
.elementor-kit-21 h1 {
  color: #292929;
  font-family: var(--e-global-typography-primary-font-family), Sans-serif;
  font-size: var(--e-global-typography-primary-font-size);
  font-weight: var(--e-global-typography-primary-font-weight);
  text-transform: var(--e-global-typography-primary-text-transform);
  letter-spacing: var(--e-global-typography-primary-letter-spacing);
}
.elementor-kit-21 h2 {
  color: #292929;
  font-family: var(--e-global-typography-primary-font-family), Sans-serif;
  font-size: var(--e-global-typography-primary-font-size);
  font-weight: var(--e-global-typography-primary-font-weight);
  text-transform: var(--e-global-typography-primary-text-transform);
  letter-spacing: var(--e-global-typography-primary-letter-spacing);
}
.elementor-kit-21 h3 {
  color: #292929;
  font-family: var(--e-global-typography-primary-font-family), Sans-serif;
  font-size: var(--e-global-typography-primary-font-size);
  font-weight: var(--e-global-typography-primary-font-weight);
  text-transform: var(--e-global-typography-primary-text-transform);
  letter-spacing: var(--e-global-typography-primary-letter-spacing);
}
.elementor-kit-21 h4 {
  color: #292929;
  font-family: var(--e-global-typography-secondary-font-family), Sans-serif;
  font-weight: var(--e-global-typography-secondary-font-weight);
  letter-spacing: var(--e-global-typography-secondary-letter-spacing);
}
.elementor-kit-21 h5 {
  color: #292929;
  font-family: var(--e-global-typography-secondary-font-family), Sans-serif;
  font-weight: var(--e-global-typography-secondary-font-weight);
  letter-spacing: var(--e-global-typography-secondary-letter-spacing);
}
.elementor-kit-21 h6 {
  color: #292929;
  font-family: var(--e-global-typography-secondary-font-family), Sans-serif;
  font-weight: var(--e-global-typography-secondary-font-weight);
  letter-spacing: var(--e-global-typography-secondary-letter-spacing);
}
.elementor-kit-21 button,
.elementor-kit-21 input[type="button"],
.elementor-kit-21 input[type="submit"],
.elementor-kit-21 .elementor-button {
  font-family: "Jost", Sans-serif;
  font-size: 12px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 1.3px;
  color: #ffffff;
  background-color: #292929;
  border-style: solid;
  border-width: 1px 1px 1px 1px;
  border-color: #292929;
  border-radius: 0px 0px 0px 0px;
  padding: 15px 28px 15px 28px;
}
.elementor-kit-21 button:hover,
.elementor-kit-21 button:focus,
.elementor-kit-21 input[type="button"]:hover,
.elementor-kit-21 input[type="button"]:focus,
.elementor-kit-21 input[type="submit"]:hover,
.elementor-kit-21 input[type="submit"]:focus,
.elementor-kit-21 .elementor-button:hover,
.elementor-kit-21 .elementor-button:focus {
  color: #292929;
  background-color: #ffffff;
  border-style: solid;
  border-width: 1px 1px 1px 1px;
  border-color: #292929;
}
.elementor-kit-21 label {
  font-family: "Jost", Sans-serif;
  line-height: 2em;
}
.elementor-kit-21 input:not([type="button"]):not([type="submit"]),
.elementor-kit-21 textarea,
.elementor-kit-21 .elementor-field-textual {
  font-family: "Heebo", Sans-serif;
  font-weight: 300;
  color: #7a7a7a;
  background-color: #ffffff8c;
  border-style: solid;
  border-width: 0px 0px 1px 0px;
  border-color: #eaeaea;
  border-radius: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
}
.elementor-kit-21 input:focus:not([type="button"]):not([type="submit"]),
.elementor-kit-21 textarea:focus,
.elementor-kit-21 .elementor-field-textual:focus {
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0);
  border-style: solid;
}
.elementor-section.elementor-section-boxed > .elementor-container {
  max-width: 1140px;
}
.e-con {
  --container-max-width: 1140px;
}
.elementor-widget:not(:last-child) {
  margin-block-end: 20px;
}
.elementor-element {
  --widgets-spacing: 20px 20px;
}
 {
}
h1.entry-title {
  display: var(--page-title-display);
}
.elementor-kit-21 e-page-transition {
  background-color: #ffbc7d;
}
.site-header {
  padding-inline-end: 0px;
  padding-inline-start: 0px;
}
@media (max-width: 1024px) {
  .elementor-kit-21 h1 {
    font-size: var(--e-global-typography-primary-font-size);
    letter-spacing: var(--e-global-typography-primary-letter-spacing);
  }
  .elementor-kit-21 h2 {
    font-size: var(--e-global-typography-primary-font-size);
    letter-spacing: var(--e-global-typography-primary-letter-spacing);
  }
  .elementor-kit-21 h3 {
    font-size: var(--e-global-typography-primary-font-size);
    letter-spacing: var(--e-global-typography-primary-letter-spacing);
  }
  .elementor-kit-21 h4 {
    letter-spacing: var(--e-global-typography-secondary-letter-spacing);
  }
  .elementor-kit-21 h5 {
    letter-spacing: var(--e-global-typography-secondary-letter-spacing);
  }
  .elementor-kit-21 h6 {
    letter-spacing: var(--e-global-typography-secondary-letter-spacing);
  }
  .elementor-section.elementor-section-boxed > .elementor-container {
    max-width: 1024px;
  }
  .e-con {
    --container-max-width: 1024px;
  }
}
@media (max-width: 767px) {
  .elementor-kit-21 h1 {
    font-size: var(--e-global-typography-primary-font-size);
    letter-spacing: var(--e-global-typography-primary-letter-spacing);
  }
  .elementor-kit-21 h2 {
    font-size: var(--e-global-typography-primary-font-size);
    letter-spacing: var(--e-global-typography-primary-letter-spacing);
  }
  .elementor-kit-21 h3 {
    font-size: var(--e-global-typography-primary-font-size);
    letter-spacing: var(--e-global-typography-primary-letter-spacing);
  }
  .elementor-kit-21 h4 {
    letter-spacing: var(--e-global-typography-secondary-letter-spacing);
  }
  .elementor-kit-21 h5 {
    letter-spacing: var(--e-global-typography-secondary-letter-spacing);
  }
  .elementor-kit-21 h6 {
    letter-spacing: var(--e-global-typography-secondary-letter-spacing);
  }
  .elementor-section.elementor-section-boxed > .elementor-container {
    max-width: 767px;
  }
  .e-con {
    --container-max-width: 767px;
  }
}
